<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="knowledgeBaseManagerTest" class="no.ovitas.compass2.kb.store.KnowledgeBaseManagerTest">
        <property name="knowledgeBaseManager" ref="kbBean"></property>
    </bean>
    
    <bean id="knowledgeBaseDaoManagerTest" class="no.ovitas.compass2.kb.store.service.KnowledgeBaseDaoManagerTest">
        <property name="knowledgeBaseDaoManager" ref="knowledgeBaseDaoManager"></property>
        <property name="topicManager" ref="topicManager"></property>
    </bean>

	<bean id="KBManagerTest"
		  class="no.ovitas.compass2.kb.store.KBManagerTest">
	</bean>
</beans>    
