@CHARSET "UTF-8";

div.wwlbl {
	display: inline !important;
}

#mainDiv {
	width: 950px;
	margin: 0 auto;
}

#leftSideDiv {
	float: left;
	width: 550px;
	text-align: left;
}

#rightSideDiv {
	float: right;
	width: 360px;
	text-align: left;
}

a.link {
	color:#1465B7;
}

input.editable {
	width:50px;
	border: solid 1px #74B3DC;
}

div#footer {
	clear: both;
	padding: 0;
	width: 900px;
	margin: 0 auto;
}

form ul {
	margin: 0px !important;
}

form li {
	padding: 0px !important;
}